<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script type='text/javascript' src='/static/index.js'></script>
    <script type='text/javascript'>
        let imageMetadata = {{ image_metadata | tojson }};
    </script>
</head>
<body>


<style type='text/css'>
    .container {
        width: 40%;
        /* Vertically center align children */
        /*display: flex;*/
        /*align-items: center;*/
        float: left;
        padding: 10px;
    }

    .highlight {
        border: 10px solid lime;
        padding: 0px;
    }
</style>

<h3>Evaluating: <a href="/{{image_metadata['ablation']}}">{{image_metadata['ablation']}}</a>
</h3>
<p>Category: {{image_metadata['category']}}, Remaining: {{num_unfinished}}</p>


<div id="left" class="container {{ left_highlight }} {{ left_is_ours }}"><img width=100%" src="{{ left_image }}" alt="Left">
</div>
<div id="right" class="container {{right_highlight }} {{ right_is_ours }}"><img width="100%" src="{{ right_image }}" alt="Right">
</div>

<div>
<p>Commands:</p>
<ul style="list-style-type: none;">
    <li><b>w</b>: prefer left</li>
    <li><b>r</b>: prefer right</li>
    <li><b>e</b>: equal/ no preference</li>
    <li><b>space</b>: clear selection</li>
    <li><b>left</b>: previous image</li>
    <li><b>right</b>: next image</li>
    <li><b>enter</b>: submit (left and right submit automatically)</li>
</ul>
</div>
</body>
</html>